<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/css/dependencies.min.css">
  <link rel="stylesheet" href="/css/master.css">
  <script src="/js/dependencies.min.js"></script>
  <title>Tussen Kunst en Kitsch</title>
</head>
<body class="<%= bodyclass %>">
<% if(bodyclass != 'video' && bodyclass != 'video-login') { %>
  <header>
    <% if(bodyclass != 'home') { %>
      <a href="/" class="back">< Terug</a>
    <%} %>
    <h1><%= pagetitle %></h1>
    <a href="/user"><img id="user" src="/img/user.svg"></a>
  </header>
<% } %>
