<%- include('partials/head'); %>

<form method="POST" action="/video">
  <input type="text" name="username" placeholder="Naam">
  <input type="password" name="password" placeholder="Wachtwoord">
  <input type="submit">
</form>

<%- include('partials/foot'); %>
