<%- include('partials/head'); %>
  <div id="video">
    <video controls="controls" poster="/video.png">
      <source src="/video.mp4" type="video/mp4">
    </video>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/video.js"></script>

<%- include('partials/foot'); %>
