<%- include('partials/head'); %>
  <div id="video">
    <video controls="controls" poster="/video.png">
      <source src="/video.mp4" type="video/mp4">
    </video>
    <div id="video-results">
      <ul>
        <li>Waarde: <span>€35</span></li>
        <li>Nederland dacht: <span>€100</span></li>
      </ul>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/video.js"></script>

<%- include('partials/foot'); %>
