html, body, div, span, applet, object, iframe, h1, .opnamedagen article h2, .opnamedagen article p, h2, .opnamedagen article p, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after {
    content: "", none;
}

q::before, q::after {
    content: "", none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, video {
    max-width: 100%;
}

@font-face {
    font-family: "Anivers";
  font-weight: 800;
  src: url("/fonts/AniversBold.ttf") format("truetype");
}

@font-face {
    font-family: "Anivers";
  font-weight: 400;
  src: url("/fonts/Anivers.ttf") format("truetype");
}

html {
    font-family: "Anivers", helvetica;
}

img {
    width: 100%;
}

.video {
    background-color: #000000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
}

.video #video {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    position: relative;
    overflow: hidden;
}

.video #video video {
    width: 100%;
}

.video #video #video-results {
    position: absolute;
    bottom: -50em;
    right: -14em;
    background-color: #c9a266;
    color: #005368;
    text-align: center;
    width: 40em;
    padding-top: 1em;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    transition: bottom .5s ease;
}

.video #video #video-results ul {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.video #video #video-results span {
    display: block;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.video #video #video-results.active {
    bottom: 0;
}

.video-login {
    background-color: #000000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
}

.video-login form input {
    display: block;
    margin: 1rem 0;
}

/* Header */
body > header {
    background-color: #c9a266;
    padding: .7em;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    height: 44px;
}

body > header img#user {
    width: 1.7em;
    display: block;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 1.7em / 2);
    right: 1.5em;
}

body > header h1, body > header .opnamedagen article h2, .opnamedagen article body > header h2, body > header .opnamedagen article p, .opnamedagen article body > header p {
    display: inline-block;
    font-weight: 800;
    color: #005368;
    font-size: 1.2em;
}

body > header a.back {
    position: absolute;
    color: #005368;
    text-decoration: none;
    left: 1rem;
    top: calc(50% - 1em / 2);
}

.home article {
    position: relative;
    cursor: pointer;
}

.home article a {
    display: block;
    width: 100%;
    height: 100%;
}

.home article div:not(.social div) {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: linear-gradient(to top, black 0%, transparent 100%);
}

.home article div:not(.social div) h2, .home .opnamedagen article div:not(.social div) p, .opnamedagen .home article div:not(.social div) p {
    position: absolute;
    right: .5em;
    bottom: .5em;
    color: white;
}

.home #blocks {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.home #blocks article {
    -webkit-flex-basis: 49vw;
    -ms-flex-preferred-size: 49vw;
    flex-basis: 49vw;
    height: 49vw;
    background-size: cover;
    margin-top: 2vw;
}

.home #blocks article#opnamedagen {
    background-image: url(/img/opnamedagen.jpg);
}

.home #blocks article#ontdekkingen {
    background-image: url(/img/ontdekkingen.jpg);
}

.home .social-feed-container {
    margin-top: 2vw;
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    position: relative;
    color: white;
}

.home .social-feed-container article {
    display: inline-block;
    vertical-align: top;
    margin: 1vw;
    margin-left: 2vw;
    width: 70vw;
    padding: 1rem;
    color: white;
    white-space: normal;
    line-height: 120%;
    height: 140px;
}

.home .social-feed-container article a {
    text-decoration: none;
    color: inherit;
}

.home .social-feed-container article header a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1em;
}

.home .social-feed-container article header a img {
    width: 3em;
    border-radius: 50%;
    margin-right: .5rem;
}

.social-feed-container {
    margin-top: 2vw;
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    position: relative;
    color: white;
}

.social-feed-container > div {
    display: inline-block;
    vertical-align: top;
    margin: 1vw;
    margin-left: 2vw;
    width: 70vw;
    padding: 1rem;
    color: white;
    white-space: normal;
    line-height: 120%;
    height: 140px;
}

.social-feed-container > div a {
    text-decoration: none;
    color: inherit;
}

.social-feed-container > div header a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1em;
}

.social-feed-container > div header a img {
    width: 3em;
    border-radius: 50%;
    margin-right: .5rem;
}

.social.twitter {
    background-color: #00a8f0;
}

.social.instagram {
    background-color: #386c99;
}

.social.facebook {
    background-color: #365396;
}

.spelen {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.spelen main {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    background-color: #000000;
}

.spelen main > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
}

.spelen main > div h2, .spelen main > div .opnamedagen article p, .opnamedagen article .spelen main > div p {
    font-size: 1.5em;
    margin: 1em;
}

.spelen main > div form {
    width: 80%;
    position: relative;
    overflow: hidden;
}

.spelen main > div input {
    display: block;
}

.spelen main > div input[type="text"] {
    font-size: 1em;
    width: calc(100% - 1em);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000000;
    padding: .5em;
    border: none;
    font-family: inherit;
}

.spelen main > div input[type="text"]:focus {
    outline: 0;
}

.spelen main > div input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #005368;
    color: white;
    font-family: inherit;
    font-size: 1em;
    width: 100%;
    border: none;
    padding: .5em;
    margin-top: 2em;
    border-radius: .5em;
    cursor: pointer;
}

#lookTv {
    display: none;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

#lookTv.active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#lookTv img {
    width: 50%;
}

#lookTv h2, #lookTv .opnamedagen article p, .opnamedagen article #lookTv p {
    font-size: 1.6em;
    margin: 1rem 0;
    color: #fafaf4;
}

#stem {
    display: none;
}

#stem.active {
    display: block;
}

#stem progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

#stem progress::-webkit-progress-bar {
    background-color: #000000;
}

#stem progress::-webkit-progress-value {
    background-color: #fafaf4;
}

#stem div {
    background-color: #fafaf4;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
}

#stem div p {
    font-size: 2em;
    text-align: center;
}

#stem div input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin: 5em auto;
}

#stem div input::-webkit-slider-thumb {
    height: 40px;
    width: 20px;
    background: #005368;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -15px;
}

#stem div input::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #424242;
    border-radius: 5px;
    border: 1px solid black;
}

#stem div input:disabled {
    opacity: .3;
}

#stem div button {
    display: block;
    margin: auto;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #005368;
    font-family: inherit;
    color: #fafaf4;
    border: none;
    padding: 1em;
    font-size: 1rem;
    border-radius: .5em;
    cursor: pointer;
}

#stem div button:disabled {
    opacity: .3;
}

#stem div #stem-controls {
    display: none;
}

#stem div #stem-controls.active {
    display: block;
}

#stem div #stem-results {
    display: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: .75rem;
}

#stem div #stem-results p > span {
    display: block;
}

#stem div #stem-results p:not(:last-of-type) {
    margin-bottom: 1em;
}

#stem div #stem-results.active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#stem div #stem-results #verschil {
    opacity: .5;
}

#eindStand {
    display: none;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
}

#eindStand h2, #eindStand .opnamedagen article p, .opnamedagen article #eindStand p {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-bottom: 2em;
}

#eindStand table {
    color: white;
    font-size: 1.5em;
}

#eindStand table td {
    padding: .5em;
}

#eindStand.active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flash {
    -webkit-animation: flash linear .5s infinite;
    animation: flash linear .5s infinite;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

.opnamedagen article {
    padding: 1em;
}

.opnamedagen article h1, .opnamedagen article h2, .opnamedagen article p {
    color: #005368;
    margin: 1rem 0;
    font-size: 1.5em;
}

.opnamedagen article h2, .opnamedagen article p {
    font-size: 1em;
    margin-top: 2em;
}

.opnamedagen article p {
    color: #000000;
}
