<%- include('../partials/head.ejs'); %>

<article>
   <a href="/spelen">
     <img src="/img/live.jpg">
     <div>
       <h2>Speel live mee ></h2>
     </div>
   </a>
 </article>

 <div id="blocks">
   <article id="opnamedagen">
     <a href="/opnamedagen">
       <div>
         <h2>Opnamedagen ></h2>
       </div>
     </a>
   </article>
   <article id="ontdekkingen">
     <a href="/ontdekkingen">
       <div>
         <h2>Vorige ontdekkingen ></h2>
       </div>
     </a>
   </article>
 </div>

<%- include('../partials/foot.ejs'); %>
