<%- include('../partials/head.ejs'); %>

<img src="/img/opnamedagen.jpg">

<article>
  <h1>Opnamedagen voorjaar 2016</h1>
  <h2>Benieuwd of je kostbaarheden in huis hebt? Laat je objecten taxeren tijdens een opnamedag van Tussen Kunst en Kitsch.</h2>
  <p>Tijdens de opnamedagen taxeren Tussen Kunst en Kitsch-experts de door bezoekers meegebrachte objecten. Reserveer van tevoren kaarten en neem maximaal drie voorwerpen mee om te laten taxeren. </p>
  <h2>Opnamedagen voorjaar 2016</h2>
  <ul>
    <li><s>8 februari 2016: Gemeentemuseum in Den Haag</s>[UITVERKOCHT]</li>
    <li><s>4 april 2016: Museum Catharijne Convent in Utrecht</s>[UITVERKOCHT]</li>
    <li><s>11 april 2016: Het Markiezenhof in Bergen op Zoom</s>[UITVERKOCHT]</li>
    <li><s>25 april 2016: Museum MORE in Gorssel</s>[UITVERKOCHT]</li>
    <li><s>9 mei 2016: Museum Klok &amp; Peel in Asten</s>[UITVERKOCHT]</li>
    <li><s>23 mei 2016: Mu.ZEE in Oostende</s>[UITVERKOCHT]</li>
  </ul>
  <h2>Kaarten kopen</h2>
  <p>Kaarten kosten € 10,- per stuk en worden verkocht via onze webshop. Kaarten voor de opnamedagen kunt u ook telefonisch bestellen via het nummer 0900-8767000 (€3,- per boeking, €0,35 per gesprek). Dit nummer is op werkdagen tussen 09:00u en 17:00u te bereiken. Vanuit België belt u 04 268 25 26 (lokaal tarief). Je hoeft geen lid te zijn van AVROTROS om kaarten te kunnen kopen. Aan het kopen van kaarten zit niet automatisch een lidmaatschap van AVROTROS verbonden. </p>
  <h2>Uitverkocht, wat nu?</h2>
  <p>Kaarten voor opnamedagen vliegen altijd als warme broodjes over de toonbank. We werken niet met een reservelijst en verkopen ook geen kaarten aan de deur. Houd deze website of onze Facebookpagina goed in de gaten. Begin april maken we de nieuwe opnamedagen hier bekend. Of abonneer je op onze nieuwsbrief. Dan weet je tijdig wanneer de kaartverkoop weer start. </p> 
</article>
<%- include('../partials/foot.ejs'); %>
