<%- include('../partials/head.ejs'); %>

<main>
  <section id="lookTv" class="">
    <img src="/img/tv.svg">
    <h2>Kijk naar de tv</h2>
  </section>

  <section id="stem" class="active">
    <img src="/img/items/1.png">
    <progress max="100" value="100"></progress>
    <div>
      <div id="stem-controls">
        <p>€<span>1000</span></p>
        <input type="range" min="0" max="2000" step="50">
        <button>Stem</button>
      </div>
      <div id="stem-results" class="active">
        <p>Waarde: <span>€1000</span></p>
        <p>Jij dacht: <span>€5000 (+€4000)</span></p>
        <p>Score: <span>6 + 7</span></p>
      </div>
    </div>
  </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/spelen.js"></script>

<%- include('../partials/foot.ejs'); %>
