<%- include('../partials/head.ejs'); %>
<input type="hidden" name="naam" value="<%= naam%>">
<main>
  <section id="lookTv" class="active">
    <img src="/img/tv.svg">
    <h2>Kijk naar de tv</h2>
  </section>

  <section id="stem" class="">
    <img src="/img/items/1.png">
    <progress max="100" value="100"></progress>
    <div>
      <div id="stem-controls" class="active">
        <p>€<span>1000</span></p>
        <input type="range" min="0" max="2000" step="50">
        <button>Stem</button>
      </div>
      <div id="stem-results" class="">
        <p>Waarde: <span>€1000</span></p>
        <p>Jij dacht: <span><span id="guess">€5000</span> <span id="verschil"></span></p>
        <p>Score: <span><span id="scoreUp">0</span><span id="scorePlus"> + </span><span id="scoreDown">0</span></span></p>
      </div>
    </div>
  </section>

  <section id="eindStand" class="">
    <h2>Scores</h2>
    <table>

    </table>
  </section>

</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/spelen.js"></script>

<%- include('../partials/foot.ejs'); %>
