<%- include('../partials/head.ejs'); %>

<h2>Vul je naam in om te beginnen:</h2>
<form method="POST" action="/spelen">
  <input type="text" name="naam">
  <input type="submit" value="Starten">
</form>

<script>
  document.querySelector('form').onsubmit = function() {
    if(document.querySelector('input[type="text"]').value == '') {
      alert('Je hebt niks ingevuld.');
      return false;
    }
  };
</script>

<%- include('../partials/foot.ejs'); %>
